<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ESSAT Dashboard </title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript">
    // $(document).ready(function () {
    //   $('#stage').click(function (){
    //     $('#show-me').show('slow');
    //   });
    //
    //  });
    function show1(){
    document.getElementById('show-me').style.display ='none';
      }
    function show2(){
      document.getElementById('show-me').style.display = 'block';
      }
    </script>
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">

        <% include sidebarmenu.ejs %>

        <!-- top navigation -->
        <% include topnav.ejs %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Plain Page</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <% for (var dem in dems)  {%>
            <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
              <div class="well profile_view">
                <div class="col-sm-12">
                  <h4 class="brief"><i><%= dems[dem].nature %></i></h4>
                  <div class="left col-xs-7">
                    <h2></h2>
                    <p><strong>first_name: <%= dems[dem].first_name +' '+dems[dem].last_name %> </strong> </p>
                    <ul class="list-unstyled">
                      <li> Classe: <%= dems[dem].classe + ' '+dems[dem].section %></li><br>

                      <li> <div style="float:right;width:250px"><form method="post" action="acceptDem"><input type="text" hidden value="<%= dems[dem].id %>" name="hidid"> <input type="submit" style="float:right" class="btn btn-success" value="valider"></form><form method="post" action="deleteDem"><input type="text" hidden value="<%= dems[dem].id %>" name="hidid"><input type="submit" value="Supprimer" style="float:right" class="btn btn-danger"/> </form></div></li>
                    </ul>
                  </div>
                  <div class="right col-xs-5 text-center">
                    <img src="" alt="" class="img-circle img-responsive">
                  </div>
                </div>
                <div class="col-xs-12 bottom text-center">
                  <div class="col-xs-12 col-sm-6 emphasis">
                    <p class="ratings">
                      <a>4.0</a>
                      <a href="#"><span class="fa fa-star"></span></a>
                      <a href="#"><span class="fa fa-star"></span></a>
                      <a href="#"><span class="fa fa-star"></span></a>
                      <a href="#"><span class="fa fa-star"></span></a>
                      <a href="#"><span class="fa fa-star-o"></span></a>
                    </p>
                  </div>
                  <div class="col-xs-12 col-sm-6 emphasis">
                    <a href="dem<%= dems[dem]._id %>"<button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                    </i> <i class="fa fa-comments-o"></i> </button></a>
                    <a href="visit:<%= dems[dem].username %>" ><button type="button" class="btn btn-primary btn-xs">
                      <i class="fa fa-user"></i> View Profile</a>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <% } %>

          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
          <% include footer.ejs %>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>
  </body>
</html>
